//
//  Sprite sheet data for Amethyst Game Engine: https://www.amethyst.rs
//  This file was created by TexturePacker: https://www.codeandweb.com/texturepacker
//
//  $TexturePacker:SmartUpdate:86be48004b992c2c6be2b4afc005c531:0cdb72a4b7261138ac29b65d781d7ad9:c47438cb7b77f1c925b77cf11a4d7d0e$
//
#![enable(implicit_some)]
List((
    texture_width: 106,
    texture_height: 198,
    sprites: [
        (
            // 0: DirtBlock.png
            x: 1,
            y: 67,
            width: 64,
            height: 64,
            offsets: (0, 0),
        ),
        (
            // 1: GrassyDirtBlock.png
            x: 1,
            y: 133,
            width: 64,
            height: 64,
            offsets: (0, 0),
        ),
        (
            // 2: TreeTopper.png
            x: 1,
            y: 1,
            width: 104,
            height: 64,
            offsets: (0, 0),
        ),
        (
            // 3: TreeTrunk.png
            x: 67,
            y: 67,
            width: 30,
            height: 64,
            offsets: (-1, 0),
        )
    ]
))

