//
//  Sprite sheet data for Amethyst Game Engine: https://www.amethyst.rs
//  This file was created by TexturePacker: https://www.codeandweb.com/texturepacker
//
//  $TexturePacker:SmartUpdate:67b5393a43375f4d082a108ead930126:1d44c4f61f56b25f727bd497c330e8ca:c47438cb7b77f1c925b77cf11a4d7d0e$
//

#![enable(implicit_some)]
List((
    texture_width: 336,
    texture_height: 66,
    sprites: [
        (
            // 0: DirtBlock.png
            x: 107,
            y: 1,
            width: 64,
            height: 64,
            offsets: (0, 0),
        ),
        (
            // 1: GrassyDirtBlock.png
            x: 173,
            y: 1,
            width: 64,
            height: 64,
            offsets: (0, 0),
        ),
        (
            // 2: Target.png
            x: 239,
            y: 1,
            width: 64,
            height: 64,
            offsets: (0, 0),
        ),
        (
            // 3: TreeTopper.png
            x: 1,
            y: 1,
            width: 104,
            height: 64,
            offsets: (0, 0),
        ),
        (
            // 4: TreeTrunk.png
            x: 305,
            y: 1,
            width: 30,
            height: 64,
            offsets: (-1, 0),
        )
    ]
))

