//
//  Sprite sheet data for Amethyst Game Engine: https://www.amethyst.rs
//  This file was created by TexturePacker: https://www.codeandweb.com/texturepacker
//
//  $TexturePacker:SmartUpdate:d173b3595af3d611fd5139ac6b81965e:9e2a44fc29876ed7940dc72b2ff7b5ba:87e0dd768afb360c1f3f3e6b71f5120d$
//

#![enable(implicit_some)]
List((
    texture_width: 66,
    texture_height: 194,
    sprites: [
        (
            // 0: Player.png
            x: 1,
            y: 1,
            width: 64,
            height: 192,
            offsets: (0, 0),
        )
    ]
))

